#python
__pycache__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# custom
src/consts/iot_core.py
certs/
certs/*
aodv_log*
